.login-page-hero{
    background-color: rgba(246, 245, 244, 1);
    &-wrapper{
        padding: 87px 0;
        display: flex;
        justify-content: space-between;
        gap: 180px;
        align-items: center

    }
    
    &-description{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        


        h1{
            font-family: 'Dela Gothic One', sans-serif;
            font-weight: 400;
            font-size: 56px;
            line-height: 120%;
            color: rgba(0, 0, 0, 1);
        }

        input{
            border: 1px solid rgba(206, 212, 218, 1);
            width: 519px;
            height: 60px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 155%;
            color: rgba(173, 181, 189, 1);
            padding-left: 20px;
            background-color: rgba(246, 245, 244, 1);
        }

        a{
            font-weight: 700;
            font-size: 16px;
            padding: 14px 24px 14px 22px;
            border-radius: 100px;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(43, 120, 139, 1);
        }
    }
}

