@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
}